torch==2.1.1 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.16.1 --index-url https://download.pytorch.org/whl/cu118
lightning==2.2.0
jsonargparse[signatures]>=4.27.7
tensorboard
tensorboardx
albumentations==1.4.4
omegaconf
einops
requests
transformers==4.37.2
lpips
